<div class="row" style="    height: 375px;">
    <div class="col-12 col-sm-3">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of listChat">
                {{ item.username }}
                <span class="badge badge-primary badge-pill">{{ item.count }}</span>
            </li>
        </ul>
    </div>
    <div class="col-12 col-sm-9">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action mat-elevation-z5 p-3" *ngFor="let item of listConversacion" (click)="openChat( item )" >
                <div class="d-flex justify-content-between">
                    <div *ngIf="!item.vistaDel">

                    </div>
                    <div *ngIf="item.vistaDel">
                        <div class="row">
                            <div class="col-1">
                                <img class="logoss" [src]="item.foto" alt="">
                            </div>
                            <div class="col-11">
                                <div class="d-flex w-100 justify-content-between">
                                    <!--<h5 class="mb-1">List group item heading</h5>-->
                                    <small>{{ item.createdAt | date : "medium"  }}</small>
                                </div>
                                <p class="mb-1">{{ item.mensaje }}</p>
                                <small>
                                    {{ item.username }}
                                </small>
                            </div>
                        </div>
                    </div>
                    <div></div>
                    <div *ngIf="!item.vistaDel">
                        <div class="row">
                            <div class="col-1">
                                <img class="logoss" [src]="item.foto" alt="">
                            </div>
                            <div class="col-11">
                                <div class="d-flex w-100 justify-content-between">
                                    <!--<h5 class="mb-1">List group item heading</h5>-->
                                    <small>{{ item.createdAt | date : "medium"  }}</small>
                                </div>
                                <p class="mb-1">{{ item.mensaje }}</p>
                                <small>
                                    {{ item.username }}
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <input type="text" class="form-control" [(ngModel)]="txt" placeholder="Escriba un mensaje"(ngModelChange)="envioTxt()">
    </div>
</div>