<div class="row">
    <div class="col-12 col-sm-12 col-xs-12 content">
        <div class="row">
            <div class="col-12">
                <div class="p-3 mb-2 bg-primary text-white rounded">
                    Formulario de Activacion de paquete
                </div>
                <br>
            </div>
            <div class="form-group col-xs-12 col-sm-12 col-12">
                <label for="exampleInputEmail1">Username / Email</label>
                <input type="text" class="form-control" [(ngModel)]="data.username" (change)="buscarUsuario()">
                <button type="button" class="btn btn-primary" (click)="buscarUsuario()">Buscar Usuario</button>
            </div>
            <div class="form-group col-xs-4 col-sm-4 col-6">
                <label for="exampleInputEmail1">Email</label>
                <input type="text" class="form-control" [(ngModel)]="data.email">
            </div>
            <div class="form-group col-xs-4 col-sm-4 col-6">
                <label for="exampleInputEmail1">Nombres y apellidos</label>
                <input type="text" class="form-control" [(ngModel)]="data.lastname">
            </div>
            <div class="form-group col-xs-4 col-sm-4 col-6">
                <label for="exampleInputEmail1">Ciudad</label>
                <input type="text" class="form-control" [(ngModel)]="data.ciudad">
            </div>
            <div class="col-12">
                <div class="p-3 mb-2 bg-primary text-white rounded">
                    Paquete activar
                </div>
                <br>
            </div>
            <div class="col-12">
                <div class="card-deck">
                    <div class="card mouse" *ngFor="let item of listPaquetes" (click)="seleccionP( item )" [ngClass]="{
                        'disable':item.check == true
                     }">
                        <img alt="Card image cap" class="card-img-top" src="./assets/imagenes/paquetes.png">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.title }}</h5>
                            <p class="card-text">{{ item.description | slice: 0: item.oculto || 100 }}</p>
                            <label class="text-primary">
                                <span (click)="item.oculto = 5000" *ngIf="item.oculto !== 5000">Leer más!</span>
                                <span (click)="item.oculto = 150" *ngIf="item.oculto == 5000">Ver Menos!</span>
                            </label>
                        </div>
                        <div class="card-footer">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex justify-content-center">
                    <div>
                        <button type="button" class="btn btn-success" (click)="activacion()">Activar Usuario</button>
                    </div>
                </div>
                <br>
            </div>
            <div class="col-12">
                <div class="p-3 mb-2 bg-primary text-white rounded">
                    Lista de Paquetes
                </div>
                <br>
            </div>
            <div class="col-12">
                <input type="text" class="form-control" [(ngModel)]="data.username" placeholder="Buscador por username" (change)="buscar()">
                <button type="button" class="btn btn-primary" (click)="buscar(  )">Buscar</button>
                <br>
            </div>
            <div class="col-12">
                <div class="col-12">
                    <div class="card ng-trigger ng-trigger-cardRemove" animatesinitmode="show" style="visibility: visible; opacity: 1;">
    
                        <!---->
                        <div class="ng-tns-c14-92 ng-trigger ng-trigger-collapsedCard ng-star-inserted" style="overflow: hidden;"
                            infiniteScroll [infiniteScrollDistance]="3" [infiniteScrollThrottle]="50"
                            (scrolled)="onScroll()" >
                            <!---->
                            <div class="card-body ng-tns-c14-92 table-border-style ng-star-inserted">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th *ngFor="let item of tablet.dataHeader">{{ item }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of tablet.dataRow">
                                                <td>
                                                    <button (click)="eliminar( item )" class="btn btn-icon btn-primary" type="button"><i
                                                            class="fa fa-eye" aria-hidden="true"></i></button>
                                                </td>
                                                <td>
                                                    {{ item['user']?.username }}
                                                </td>
                                                <td>
                                                    <input type="text" class="form-control" [(ngModel)]="item.cantidaddepublicidad" [disabled]="progreses" (change)="updatePaquete( item )">
                                                </td>
                                                <td>
                                                    <input type="checkbox" class="form-check-input" [(ngModel)]="item.disableretiro" [disabled]="progreses" (change)="updatePaquete( item )">
                                                    <label class="form-check-label" for="exampleCheck1">Retiro</label>
                                                </td>
                                                <td>
                                                    {{ item.createdAt | date:'medium' }}
                                                </td>
                                                <td>
                                                    {{ item['user']?.celular }}
                                                </td>
                                                <td>
                                                    {{ item['paquete']?.title }}
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>