<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Markeplace</title>
  <!-- <link id="switcher" href="./assets/publico/css/theme-color/bridge-theme.css" rel="stylesheet"> -->

  <!-- Main style sheet -->
  <!-- <link href="./assets/publico/css/style.css" rel="stylesheet"> -->

  <!-- Google Font -->
  <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

  <!-- catg header banner section -->
  <section id="aa-catg-head-banner">
    <img [src]="tiendaInfo.portada3 || './assets/publico/img/fashion/fashion-header-bg-8.jpg'" class="anchosBanner"
      alt="fashion img">
    <div class="aa-catg-head-banner-area">
      <div class="container">
        <div class="aa-catg-head-banner-content">
          <h2>{{ data.titulo }}</h2>
        </div>
      </div>
    </div>
  </section>
  <!-- / catg header banner section -->

  <!-- product category -->
  <section id="aa-product-details">
    <div class="anchos">
      <div class="row">
        <div class="col-12">
          <app-progress *ngIf="!data.id" ></app-progress>
        </div>
        <div class="col-md-12">
          <div class="aa-product-details-area">
            <div class="aa-product-details-content">
              <div class="row">
                <!-- Modal view slider -->
                <div class="col-md-5 col-sm-5 col-xs-12">
                  <ng-image-slider [images]="listGaleria" [infinite]="sliderInfinite" *ngIf="listGaleria.length"
                    [imagePopup]="sliderImagePopup" [showArrow]="sliderArrowShow"
                    [imageSize]="{width: sliderImageWidth, height: sliderImageHeight}"
                    [autoSlide]="sliderAutoSlide ? 1 : 0" [slideImage]="sliderSlideImage"
                    [animationSpeed]="sliderAnimationSpeed" (imageClick)="imageOnClick($event)"
                    (arrowClick)="arrowOnClick($event)" (lightboxArrowClick)="lightboxArrowClick($event)" #nav>
                  </ng-image-slider>
                </div>
                <!-- Modal view content -->
                <div class="col-md-7 col-sm-7 col-xs-12">
                  <div class="aa-product-view-content p-3">
                    <h3>{{ data.titulo }}</h3>
                    <div class="aa-price-block">
                      <span class="aa-product-view-price">{{ monedaChange( 3, 2, data.precio || 0 ) }}</span>
                      <p class="aa-product-avilability">Disponibilidad: <span>En stock</span></p>
                    </div>
                    <p [innerHtml]="data.descripcion | slice: 0: rango"></p>
                    <!-- <h4>Talla</h4>
                    <div class="aa-prod-view-size">
                      <a class="pointer" *ngFor="let item of data.listTallas" [ngClass]="{selecciono: item.check}"
                        (click)="this.pedido.talla = item.tal_descripcion; item.check = !item.check">{{ item.descripcion }}</a>
                    </div> -->
                    <!-- <h4>Color</h4>
                     <div class="aa-color-tag">
                       <a href="#" class="aa-color-green"></a>
                       <a href="#" class="aa-color-yellow"></a>
                       <a href="#" class="aa-color-pink"></a>                      
                       <a href="#" class="aa-color-black"></a>
                       <a href="#" class="aa-color-white"></a>                      
                     </div> -->
                    <!-- <div class="aa-prod-quantity">
                      <h4>Cantidad</h4>
                      <select [(ngModel)]="pedido.cantidad">
                        <option value="1" selected="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                      </select>
                      <p class="aa-prod-category">
                        Categoria: <a class="pointer"
                          (click)="categoriasVer()">{{ data['pro_categoria']?.cat_nombre }}</a>
                      </p>
                    </div> -->
                    <div class="aa-prod-view-bottom">
                      <a (click)="AgregarCart()" href="" class="aa-add-to-cart-btn pointer"><span
                          class="fa fa-shopping-cart"></span>Chatear con Usuario</a>
                      <a class="aa-add-to-cart-btn"
                        href="https://www.facebook.com/sharer/sharer.php?kid_directed_site=0&u=https://www.locomproaqui.com/productos/15?u=https://www.locomproaqui.com/productos/{{ this.data.id }}"
                        target="_blank">Compartir</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="aa-product-details-bottom">
              <div class="mx-auto" style="width: 200px;">
                <ul class="nav nav-tabs centerAncho" id="myTab2">
                  <li><a (click)="this.view = 'descripcion'">Descripcion</a></li>
                </ul>
              </div>

              <!-- Tab panes -->
              <div class="container content">
                <div class="container">
                  <div class="d-flex justify-content-center">
                    <div>
                      <p [innerHtml]="data.descripcion"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Related product -->
            <div class="aa-product-related-item">
              <div class="content">
                <div class="row">
                  <div class="col-12">
                    <h3>Productos Relacionados</h3>
                  </div>
                  <div class="col-12">
                    <ng-image-slider [images]="imageObject" *ngIf="imageObject.length > 0" [infinite]="sliderInfinite" [imagePopup]="sliderImagePopup"
                      [showArrow]="sliderArrowShow" [imageSize]="{width: sliderImageWidth, height: sliderImageHeight}"
                      [autoSlide]="sliderAutoSlide ? 1 : 0" [slideImage]="sliderSlideImage"
                      [animationSpeed]="sliderAnimationSpeed" (imageClick)="imageOnClick($event)"
                      (arrowClick)="arrowOnClick($event)" (lightboxArrowClick)="lightboxArrowClick($event)" #nav>
                    </ng-image-slider>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>