<div class="row">
    <div class="col-12 col-sm-12 col-xs-12 content">
        <div class="row">
            <div class="col-12">
                <div class="p-3 mb-2 bg-primary text-white rounded">
                    Administracion de usuario
                </div>
                <br>
            </div>
            <div class="col-12">
                <input type="text" class="form-control" [(ngModel)]="seartxt" placeholder="Buscador">
                <button type="button" class="btn btn-primary" (click)="buscar(  )">Buscar</button>
                <br>
            </div>
            <div class="col-12">
                <div class="card ng-trigger ng-trigger-cardRemove" animatesinitmode="show" style="visibility: visible; opacity: 1;">

                    <!---->
                    <div class="ng-tns-c14-92 ng-trigger ng-trigger-collapsedCard ng-star-inserted" style="overflow: hidden;"
                        *ngIf="vista == 'home'" infiniteScroll [infiniteScrollDistance]="3" [infiniteScrollThrottle]="50"
                        (scrolled)="onScroll()" >
                        <!---->
                        <div class="card-body ng-tns-c14-92 table-border-style ng-star-inserted">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th *ngFor="let item of tablet.dataHeader">{{ item }}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of tablet.dataRow">
                                            <td>
                                                <button (click)="desavilitar( item )" class="btn btn-icon btn-primary" type="button"><i
                                                        class="fa fa-eye" aria-hidden="true"></i></button>
                                            </td>
                                            <td>
                                                <img width="30px" height="50px" [src]="item.foto">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" [(ngModel)]="item.username" (blur)="update( item )">
                                            </td>
                                            <td>
                                                <input type="text" class="form-control" [(ngModel)]="item.password" (blur)="update( item )">
                                            </td>
                                            <td>{{ ( item.fechadelpack | date:'medium' ) || 'Nunca Compro Paquete' }}</td>
                                            <td>{{ item.celular }}</td>
                                            <td>{{ item.nivel }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>