<!-- <div class="row colorFondo">
    <div class="col">
        <ul>
            <div class="content">
                <div class="row">
                    <div>
                        <li><a href="#" [routerLink]="['/publico/markeplace']">Inicio</a></li>
                    </div>
                    <div>
                        <li><a href="#" [routerLink]="[ '/publico/productos' ]">Productos</a></li>
                    </div>
                </div>
            </div>
        </ul>
    </div>
</div> -->
<router-outlet></router-outlet>