<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#" routerLink="portada/donar">
    <img src="./assets/extra/logo.png" alt="" class="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation" (click)="activarMenu()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" #menus>
    <ul class="navbar-nav mr-auto" #ulis>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/portada/donar">Inicio</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="https://play.google.com/store/apps/details?id=capacitacion.publihazclick2" target="_link">Que es Publihazclik</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/portada/testimonio">Pagos y testimonios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/portada/marcas">Marcas anunciantes</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" href="#" routerLink="/portada/pautas">Pauta con nosotros</a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link" href="#" routerLink="/auth/login">iniciar sesión / registrarse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.youtube.com/channel/UCDRfvqREd_vYJdK5Bxi41fg" target="_link">Ver en Youtube</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" href="https://play.google.com/store/apps/details?id=capacitacion.publihazclick2" target="_link">Descargár app</a>
      </li>-->
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col-12">
    <div class="d-flex justify-content-center">
      <div>
        <span class="navbar-text">
          <div class="row">
            <div class="col">
              <input currencyMask class="form-control form-control-sm" disabled [(ngModel)]="puntosGanados"
                [options]="formatoMoneda" />
              <span class="input-group-append search-btn btn btn-primary" (click)="getRefres()">
                <i class="fa fa-retweet" aria-hidden="true">
                  Este sería el dinero que podrías retirar si te conviertes en Anunciante
                </i>
              </span>
            </div>
            <div class="col">
              <input currencyMask class="form-control form-control-sm" disabled [(ngModel)]="donaciones"
                [options]="formatoMoneda" />
              <span class="input-group-append search-btn btn btn-primary" (click)="getRefres()">
                <i class="fa fa-retweet" aria-hidden="true">
                  Mis Donaciones
                </i>
              </span>
            </div>
          </div>
        </span>
      </div>
    </div>
  </div>
</div>