<div class="row">
    <div class="col-12">
        <h5>Publicaciones recientes</h5>
        <div class="d-flex justify-content-center">
            <div class="col-6">
                <textarea class="form-control is-invalid" [(ngModel)]="filtro"
                    placeholder="Que quieres comentar" required></textarea>
                <div class="invalid-feedback">
                    <span>comentar publicaciones</span>
                    <div class="d-flex flex-row-reverse bd-highlight">
                        <div>
                            <button type="button" class="btn btn-success" (click)="crearComentario()">Comentar</button>
                        </div>
                        <div>
                            <input type="file" placeholder="Imagenes" [(ngModel)]="content" (ngModelChange)="datafiles($event)" (blur)="datafiles($event)" placeholder="imagen">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <app-tools-publicacion [_modelo]="_publicacion" [query]="query" [config]="config"></app-tools-publicacion>
    </div>
</div>