<div class="row">
  <div class="col-12">
    <ng-image-slider [images]="imageObject2" *ngIf="imageObject2.length > 0" [infinite]="sliderInfinite"
      [imagePopup]="sliderImagePopup" [showArrow]="sliderArrowShow"
      [imageSize]="{width: sliderImageWidth2, height: sliderImageHeight2}" [autoSlide]="sliderAutoSlide ? 1 : 0"
      [slideImage]="sliderSlideImage" [animationSpeed]="sliderAnimationSpeed" (imageClick)="imageOnClick($event)"
      (arrowClick)="arrowOnClick($event)" (lightboxArrowClick)="lightboxArrowClick($event)" #nav1>
    </ng-image-slider>
  </div>
  <div class="col-0 col-sm-2" *ngIf="disabled">
    <ng-image-slider *ngIf="imageObject.length > 0" [images]="imageObject" [infinite]="sliderInfinite"
      [imagePopup]="sliderImagePopup" [showArrow]="sliderArrowShow"
      [imageSize]="{width: sliderImageWidth, height: sliderImageHeight}" [autoSlide]="sliderAutoSlide ? 1 : 0"
      [slideImage]="sliderSlideImage" [animationSpeed]="sliderAnimationSpeed" (imageClick)="imageOnClick($event)"
      (arrowClick)="arrowOnClick($event)" (lightboxArrowClick)="lightboxArrowClick($event)" #nav>
    </ng-image-slider>
  </div>
  <div class="col-12 col-sm-12 col-md-8">
    <div class="col-12">
      <nav class="navbar navbar-dark bg-primary">
        <div class="container-fluid">
          <h3 class="text-muted mb-1 titulos">{{ data['publicacion']?.title }}</h3>
          <div class="d-flex">
            <button type="button" class="btn btn-danger p" *ngIf="Tools.valoresContador">{{ Tools.valoresContador }}
              segundos</button>
            <div class="margin row" *ngIf="!Tools.valoresContador && !disabledCont">
              <div class="row" *ngIf="!disablerealizado">
                <!--<span class="rounded m" [ngClass]="{
                  'orange':siguiente.titulo === 'orange',
                  'red':siguiente.titulo === 'red',
                  'blue':siguiente.titulo === 'blue',
                  'green':siguiente.titulo === 'green'
               }">
                  <h5 class="p titulos">Seleccione el Color: {{ ' '+siguiente.spanis }} </h5>
                </span>
                <div class="row m">
                  <div class="row" *ngFor="let item of colores">
                    <div class="col">
                      <div (click)="resolved(item)" class="p margin punter" [ngClass]="{
                           'orange':item.titulo === 'orange',
                           'red':item.titulo === 'red',
                           'blue':item.titulo === 'blue',
                           'green':item.titulo === 'green'
                        }">
                        <i class="far fa-eye"></i>
                      </div>
                    </div>
                  </div>
                </div>-->
                <div class="row">
                  <div class="col-12">
                    <h5 class="p titulos">Seleccione el Color: {{ ' '+siguiente.spanis }} </h5>
                  </div>
                  <div class="col-12">
                    <div class="row">
                      <div class="col-3" *ngFor="let item of colores">
                        <div (click)="resolved(item)" class="p margin punter" [ngClass]="{
                             'orange':item.titulo === 'orange',
                             'red':item.titulo === 'red',
                             'blue':item.titulo === 'blue',
                             'green':item.titulo === 'green'
                          }">
                          <i class="far fa-eye"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="disablerealizado" class="m p p-3 mb-2 bg-success text-white rounded">
                <h5>
                  Actividad Completado
                  <i class="far fa-check-square"></i>
                </h5>
              </div>
            </div>
            <div *ngIf="disabledCont">
              <div class="d-flex flex-row-reverse bd-highlight row">
                <div class="spinner-grow text-primary" role="status"><span class="sr-only">Loading...</span></div>
                <div class="spinner-grow text-secondary" role="status"><span class="sr-only">Loading...</span></div>
                <div class="spinner-grow text-success" role="status"><span class="sr-only">Loading...</span></div>
                <div class="spinner-grow text-danger" role="status"><span class="sr-only">Loading...</span></div>
                <div class="spinner-grow text-warning" role="status"><span class="sr-only">Loading...</span></div>
                <div class="spinner-grow text-info" role="status"><span class="sr-only">Loading...</span></div>
                <div class="spinner-grow text-light" role="status"><span class="sr-only">Loading...</span></div>
                <div class="spinner-grow text-dark" role="status"><span class="sr-only">Loading...</span></div>
            </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="column container" style="height: 890px; overflow: scroll; overflow-x: hidden">
      <div class="row">
        <div class="col-12">
          <iframe style="width: 100%;" [src]="url" frameborder="0" width="1499"
            height="561" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
          </iframe>
        </div>
        <div class="col-12">
          <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
              <h3 class="text-muted mb-1 titulos">Descripcion</h3>
            </div>
          </nav>
        </div>
        <div class="col-12 content">
          <p  [innerHtml]="data['publicacion']?.descripcion">
        </div>
        <div class="col-12">
          <nav class="navbar navbar-dark bg-primary">
            <div class="container-fluid">
              <h3 class="text-muted mb-1 titulos">Comentarios</h3>
            </div>
          </nav>
        </div>
        <div class="col-12">
          <app-comentarios *ngIf="dataUser.id" [data]="data"></app-comentarios>
        </div>
      </div>
    </div>
  </div>
  <div class="col-0 col-sm-2" *ngIf="disabled">
    <ng-image-slider *ngIf="imageObject.length > 0" [images]="imageObject" [infinite]="sliderInfinite"
      [imagePopup]="sliderImagePopup" [showArrow]="sliderArrowShow"
      [imageSize]="{width: sliderImageWidth, height: sliderImageHeight}" [autoSlide]="sliderAutoSlide ? 1 : 0"
      [slideImage]="sliderSlideImage" [animationSpeed]="sliderAnimationSpeed" (imageClick)="imageOnClick($event)"
      (arrowClick)="arrowOnClick($event)" (lightboxArrowClick)="lightboxArrowClick($event)" #nav>
    </ng-image-slider>
  </div>
</div>